/** Generic Tweaks **/
.audioTitle{
    font-size: 3em;
}
#shareMenu a{
    color: white;
}

/** Play Icons **/
.playIcon > .fa{
    font-size: 5em;
    color: #42afe3;
}
.playIcon:hover{
    cursor: pointer;
}
#defaultPlay{
    color: white;
    margin-left: -100%; margin-top: -50%
}

/** Dark Mode Tweaks **/
.dark-mode{
    background-color: black;
    color: lightgrey;
}
.dark-mode .title{
    color: white;
}
.dark-mode .subtitle{
    color: lightgrey;
}
footer.dark-mode{
    background-color: #69707a;
    color: #f5f7fa;
}
footer.dark-mode a:hover{
    color: white;
}
footer.dark-mode a{
    color: dodgerblue;
}
footer.dark-mode strong{
    color: white;
}

/** Margin Tweaks **/
.margin-responsive-mobile-title{
    margin-left: 1em
}
.margin-between-icon-and-text{
    margin-bottom: 5em
}
.margin-between-icon-and-screen-bottom{
    margin-bottom: 1.5em
}

/** Banner for Old Devices **/
.banner-ie-unsupported{
    background-color: yellow;
    padding: 0.5em 1em;
}
.banner-ie-unsupported > .close-button {
    padding-right: 0.5em;
}

.colorBlock{
    padding: 8em;
    aheight:295px;
    cursor: pointer;
}
.colorText-white{
    font-weight: lighter;
    color: white;
}
.colorText-black{
    font-weight: lighter;
    color: black;
}
.hidden{
    display: none;
}

/** input[range] styling **/
/** Credits: http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html **/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #42afe3;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #42afe3;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #42afe3;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
